@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #333;
    box-sizing: border-box;
}

ol, ul {
    list-style: none;
}

body {
  width: 100%;
  margin-top: 120px;
}

.wrap {
  width: 1080px;
  margin: 0 auto;
  padding-top: 120px 0;
}

.container {
  display: flex;
  justify-content: space-between;
}

#aside {
  width: 180px;
}

#aside h2 {
  padding: 0 0 10px 10px;
  border-bottom: 1px solid black;
}

#aside .list .title {
  padding: 10px;
  border-bottom: 1px solid #d7d7d7;
}

#aside .list .title a {
  display: block;
  color: #000;
  font-size: 14px;
  font-weight: bold;
}

#artist {
  width: 860px;
  padding-left: 20px;
  padding-right: 20px;
  overflow: hidden;
}
