@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #333;
    box-sizing: border-box;
}

ol, ul {
    list-style: none;
}

body {
  width: 100%;
  margin-top: 120px;
  padding-top: 120px;
}

.wrap {
  width: 1080px;
  margin: 0 auto;
}

.container {
  display: flex;
  justify-content: space-between;
}

#aside {
  width: 180px;
}

#aside h2 {
  padding: 0 0 10px 10px;
  border-bottom: 1px solid black;
}

#aside .list .title {
  padding: 10px;
  border-bottom: 1px solid #d7d7d7;
}

#aside .list .title a {
  display: block;
  color: #000;
  font-size: 14px;
  font-weight: bold;
}

#artist {
  width: 860px;
  padding-left: 20px;
  overflow: hidden;
}

#artist .about {
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
  margin-bottom: 30px;
}

#artist .about h2 {
  position: relative;
  padding: 0 0 10px 20px;
}

#artist .about span {
  display: inline-block;
  width: 3px;
  height: 24px;
  margin: 0 10px 6px 10px;
  background: #000;
}

#artist .about h4 {
  margin-bottom: 6px;
  color: #777;
}

#artist .acc_wrap {
	margin-bottom: 212px;
  padding: 10px;
}

/* 아코디언 */

.collapsible {
    background-color: rebeccapurple;
    color: white;
    cursor: pointer;
    padding: 24px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 18px;
}
.active,
.collapsible:hover {
    background-color: midnightblue;
}
.content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
}
.content p {
  font-weight: 600;
}
.collapsible:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}
.active:after {
    content: "\2212";
}

#artist .acc_wrap .btn_wrap {
  display: flex;
  justify-content: end;
  margin: 10px;
}

#artist .acc_wrap .btn_wrap button {
  width: 50px;
  height: 24px;
  margin: 0 3px;
  cursor: pointer;
  border: none;
  border-radius: 3px;
}

#artist .acc_wrap .btn_wrap button:first-child {
  background-color: #82c8a0;
}

#artist .acc_wrap .btn_wrap button:nth-child(2) {
  background-color: #fa5a5a;
}
