@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #333;
    box-sizing: border-box;
}

ol, ul {
    list-style: none;
}

body {
  width: 100%;
  margin-top: 120px;
  margin-bottom: 100px;
  padding-top: 120px;
}

.wrap {
  width: 1300px;
  margin: 240px auto;
  margin-bottom: 0;
  padding-bottom: 120px;
}

.container {
  display: flex;
  justify-content: space-between;
}

#aside {
  width: 180px;
}

#aside h2 {
  padding: 0 0 10px 10px;
  border-bottom: 1px solid black;
}

#aside .list .title {
  padding: 10px;
  border-bottom: 1px solid #d7d7d7;
}

#aside .list .title a {
  display: block;
  color: #000;
  font-size: 14px;
  font-weight: bold;
}

#artist {
  width: 1080px;
  padding-left: 20px;
  padding-right: 20px;
  overflow: hidden;
}

#artist .about {
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
  margin-bottom: 120px;
}

#artist .about h2 {
  position: relative;
  padding: 0 0 10px 20px;
}

#artist .about span {
  display: inline-block;
  width: 3px;
  height: 24px;
  margin: 0 10px 6px 10px;
  background: #000;
}

#artist .about h4 {
  margin-bottom: 6px;
  color: #777;
}

#artist .content {
  padding: 0 20px;
}

#artist .content .address {
	display: flex;
	justify-content: space-around;
}

#artist .content .address .detail p {
  font-style: italic;
  font-weight: 600;
  color: #545454;
  text-align: center;
}

#artist .content .address #map {
	width: 450px;
	height: 360px;
	margin-top: 20px;
}
